.a-add {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #2389CF;
  display: flex;
  padding: 0.5em 0;
  justify-content: flex-end;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .a-add {
    font-size: 14px;
  }
}
.a-alert {
  background: #FFE7E6;
  display: flex;
  align-items: center;
  margin: 0.5em auto;
  padding: 0.4em 2em;
  max-width: 18em;
  border-radius: 8px;
}
.a-alert__icon {
  margin-right: 0.5em;
}
.a-alert__text {
  font-weight: 600;
  font-size: 0.8em;
  color: #F13319;
}

.a-attach {
  display: flex;
  padding: 0.5em 0;
  cursor: pointer;
  align-items: center;
}
.a-attach__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #52575C;
  padding: 0 0.3em;
}
.a-attach__optional {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #A0A4A8;
}

@media (max-width: 1100px) {
  .a-attach__text {
    font-size: 14px;
  }
}
.a-breadcrumb {
  display: flex;
}
.a-breadcrumb__arrow {
  margin-right: 0.5em;
}
.a-breadcrumb__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #A0A4A8;
  text-decoration: none;
}
.a-breadcrumb--active {
  color: #2389CF;
}

@media (max-width: 600px) {
  .a-breadcrumb__link {
    font-size: 12px;
  }
  .a-breadcrumb__arrow {
    margin-left: 0.7em;
  }
}
.a-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: none;
  font-size: 1em;
  margin: 0.6rem 0;
  border-radius: 8px;
  font-weight: 600;
}
.a-btn--default {
  height: 48px;
  padding: 0.8em 3em;
}
.a-btn--sm {
  height: 36px;
  padding: 0.8em 3em;
  width: 24px;
}
.a-btn--expand {
  height: 48px;
  padding: 0.8em 3em;
}
.a-btn--primary {
  background: #08367E;
  color: #FFFFFF;
}
.a-btn--primary:hover, .a-btn--primary:focus {
  background: #08367E;
  color: #FFFFFF;
}
.a-btn--primary-3 {
  border: 1px solid #0C4399;
  background: #0C4399;
  color: #FFFFFF;
}
.a-btn--primary-3:hover, .a-btn--primary-3:focus {
  background: #0C4399;
  color: #FFFFFF;
}
.a-btn--secondary {
  background: #2389CF;
  color: #FFFFFF;
}
.a-btn--secondary:hover, .a-btn--secondary:focus {
  background: #2389CF;
  color: #FFFFFF;
}
.a-btn--secondary-2 {
  background: #0878C7;
  color: #FFFFFF;
}
.a-btn--secondary-2:hover, .a-btn--secondary-2:focus {
  background: #0878C7;
  color: #FFFFFF;
}
.a-btn--outline {
  border: 1px solid #2389CF;
  background: #FFFFFF;
  color: #2389CF;
}
.a-btn--outline:hover, .a-btn--outline:focus {
  background: #FFFFFF;
  color: #2389CF;
}
.a-btn--muted {
  border: 1px solid #70B2E2;
  background: #FFFFFF;
  color: #70B2E2;
}
.a-btn--muted:hover, .a-btn--muted:focus {
  background: #FFFFFF;
  color: #70B2E2;
}
.a-btn__icon--default {
  margin-left: 1.5em;
}
.a-btn__icon {
  margin-left: 1.5em;
}

@media (max-width: 1100px) {
  .a-btn--reduce-in-mobile {
    width: 5em;
  }
  .a-btn__icon {
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .a-btn {
    width: 100%;
  }
  .a-btn--default {
    height: 44px;
    padding: 0.8em 0;
  }
  .a-btn--reduce-in-mobile {
    width: 3.2em;
  }
}
.a-close-menu {
  display: none;
}

@media (max-width: 1100px) {
  .a-close-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5em 0 1em 0;
    width: 100%;
  }
  .a-close-menu__text {
    cursor: pointer;
    color: #FFFFFF;
    font-size: 12px;
    padding-right: 2px;
  }
}
.a-label {
  font-size: 1em;
  color: #52575C;
  font-style: normal;
  font-weight: 600;
}

.a-link {
  background: #08367E;
  color: #FFFFFF;
  border-bottom: 2px solid #08367E;
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;
}
.a-link:hover {
  border-bottom: 2px solid #0ABEC4;
  transition: 0.3s;
}

@media (max-width: 1100px) {
  .a-link {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 0;
    font-weight: 600;
    font-size: 1.1em;
  }
  .a-link:hover {
    border-bottom: 0;
  }
  .a-link:after {
    content: "";
    background: url("../svg/arrow-right.svg") no-repeat;
    display: inline;
    position: relative;
    float: right;
    line-height: 1.5em;
    height: 1.5em;
    top: 0.3em;
    width: 1em;
  }
}
.a-login-image {
  grid-area: login-image;
  background-image: url("../png/login-image.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1100px) {
  .a-login-image {
    display: none;
  }
}
@media (max-width: 600px) {
  .a-login-image {
    display: flex;
    margin-top: -100%;
    background-image: linear-gradient(to bottom, white 30%, transparent 70%), url("../png/login-image.png");
  }
}
.a-logo-principal {
  display: none;
}

.a-logo-white {
  padding: 1em 0;
  height: 100%;
}

@media (max-width: 1100px) {
  .a-logo-principal {
    display: block;
    padding: 1em 0 0.5em 0;
    height: 20%;
    width: 20%;
  }

  .a-logo-white {
    padding: 1.5em 0;
    height: 100%;
  }
}
.a-menu-icon {
  display: none;
}

@media (max-width: 1100px) {
  .a-menu-icon {
    cursor: pointer;
    display: block;
    padding: auto;
    height: 24px;
  }
}
.a-select-box {
  background: #FFFFFF;
  box-shadow: none;
  outline: none;
  border-radius: 14px;
  padding: 1em 1em;
  width: 100%;
  font-weight: 500;
  font-style: normal;
  border: 1.3px solid #52575C;
  display: flex;
  justify-items: center;
}
.a-select-box::placeholder {
  font-family: Montserrat;
  letter-spacing: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  color: #A0A4A8;
}
.a-select-box:focus {
  border: 1.3px solid #2389CF;
}
.a-select-box--gris {
  background: #F9F9FA;
  box-shadow: none;
  outline: none;
  border-radius: 14px;
  padding: 1em 1em;
  width: 100%;
  font-weight: 500;
  font-style: normal;
  border: 1.3px solid #F9F9FA;
  display: flex;
  justify-items: center;
}
.a-select-box--gris::placeholder {
  font-family: Montserrat;
  letter-spacing: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  color: #A0A4A8;
}
.a-select-box--gris:focus {
  border: 1.3px solid #F9F9FA;
}
.a-select-box__icon {
  cursor: pointer;
  margin-left: -40px;
  z-index: 2;
}
.a-select-box--error {
  background: #FFFFFF;
  box-shadow: none;
  outline: none;
  border-radius: 14px;
  padding: 1em 1em;
  width: 100%;
  font-weight: 500;
  font-style: normal;
  border: 1.3px solid #F13319;
  display: flex;
  justify-items: center;
}
.a-select-box--error::placeholder {
  font-family: Montserrat;
  letter-spacing: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  color: #A0A4A8;
}
.a-select-box--error:focus {
  border: 1.3px solid #F13319;
}

.a-span-error {
  font-weight: 600;
  font-size: 0.9em;
  line-height: 14px;
  color: #2389CF;
}

.a-text-box {
  background: #FFFFFF;
  box-shadow: none;
  outline: none;
  border-radius: 14px;
  padding: 1em 1em;
  width: 100%;
  font-weight: 500;
  font-style: normal;
  border: 1.3px solid #52575C;
  display: flex;
  justify-items: center;
}
.a-text-box::placeholder {
  font-family: Montserrat;
  letter-spacing: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  color: #A0A4A8;
}
.a-text-box:focus {
  border: 1.3px solid #2389CF;
}
.a-text-box--gris {
  background: #F9F9FA;
  box-shadow: none;
  outline: none;
  border-radius: 14px;
  padding: 1em 1em;
  width: 100%;
  font-weight: 500;
  font-style: normal;
  border: 1.3px solid #F9F9FA;
  display: flex;
  justify-items: center;
}
.a-text-box--gris::placeholder {
  font-family: Montserrat;
  letter-spacing: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  color: #A0A4A8;
}
.a-text-box--gris:focus {
  border: 1.3px solid #F9F9FA;
}
.a-text-box__icon {
  cursor: pointer;
  margin-left: -40px;
  z-index: 2;
}
.a-text-box--error {
  background: #FFFFFF;
  box-shadow: none;
  outline: none;
  border-radius: 14px;
  padding: 1em 1em;
  width: 100%;
  font-weight: 500;
  font-style: normal;
  border: 1.3px solid #F13319;
  display: flex;
  justify-items: center;
}
.a-text-box--error::placeholder {
  font-family: Montserrat;
  letter-spacing: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  color: #A0A4A8;
}
.a-text-box--error:focus {
  border: 1.3px solid #F13319;
}

.a-title {
  color: #1B1B22;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  margin: 1.5em 0 1em 0;
}

@media (max-width: 1100px) {
  .a-title {
    font-size: 18px;
  }
}
body {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 1.8;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* stylelint-disable */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.m-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "section1 section2" "section3 section4";
  padding: 0 98px;
}
.m-form__section-1 {
  grid-area: section1;
  padding-right: 109px;
}
.m-form__section-2 {
  grid-area: section2;
  padding-right: 109px;
}
.m-form__section-3 {
  grid-area: section3;
}
.m-form__section-4 {
  grid-area: section4;
  display: flex;
  justify-content: flex-end;
}
.m-form__prev-button-icon {
  display: none;
}
.m-form__next-button {
  margin-left: 1.5em;
}

@media (max-width: 1100px) {
  .m-form {
    padding: 0 1em;
    grid-template-areas: "section1 section1" "section2 section2" "section3 section4";
  }
  .m-form__section-1 {
    padding: 0;
  }
  .m-form__section-2 {
    padding: 0;
  }
  .m-form__section-3, .m-form__section-4 {
    padding-top: 1em;
  }
  .m-form__prev-button-icon {
    display: initial;
  }
  .m-form__prev-button-text, .m-form__next-button-text {
    display: none;
  }
  .m-form__next-button {
    margin-left: 0.5em;
  }
}
.m-form-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "section1 section1" "section2 section2" "section3 section4";
  padding: 0 98px;
}
.m-form-2__section-1 {
  grid-area: section1;
  padding-right: 60%;
}
.m-form-2__section-2 {
  grid-area: section2;
}
.m-form-2__section-3 {
  grid-area: section3;
}
.m-form-2__section-4 {
  grid-area: section4;
  display: flex;
  justify-content: flex-end;
}
.m-form-2__prev-button-icon {
  display: none;
}
.m-form-2__next-button {
  margin-left: 1.5em;
}

@media (max-width: 1100px) {
  .m-form-2 {
    padding: 0 1em;
    grid-template-areas: "section1 section1" "section2 section2" "section3 section4";
  }
  .m-form-2__section-1 {
    padding: 0;
  }
  .m-form-2__section-3, .m-form-2__section-4 {
    padding-top: 1em;
  }
  .m-form-2__prev-button-icon {
    display: initial;
  }
  .m-form-2__prev-button-text, .m-form-2__next-button-text {
    display: none;
  }
  .m-form-2__next-button {
    margin-left: 0.5em;
  }
}
.m-login-form {
  grid-area: login-form;
  max-width: 26em;
  padding: 0 1em;
}
.m-login-form__title {
  color: #08367E;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.2em;
  margin: 0.2em 0;
}
.m-login-form__description {
  color: #1B1B22;
  font-weight: normal;
  text-align: justify;
  font-size: 1.1em;
  line-height: 19px;
  margin: 0.5em 0;
}
.m-login-form__button-container {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1100px) {
  .m-login-form__title {
    font-size: 1.5em;
    margin: 0;
  }
  .m-login-form__description {
    font-size: 1em;
  }
}
.m-progress-bar {
  display: flex;
  justify-content: center;
  margin: 1em 0 6em 0;
}
.m-progress-bar__step {
  position: relative;
  text-align: center;
  padding-top: 0.7em;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin: 0 83px;
}
.m-progress-bar__step--present {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 25px #D6DDF5;
}
.m-progress-bar__step--gris {
  background-color: #EFEFF0;
}
.m-progress-bar__step--success {
  background-color: #DAF5F6;
}
.m-progress-bar__line--gris:before, .m-progress-bar__line--gris:after {
  position: absolute;
  content: "";
  width: 166px;
  height: 5px;
  bottom: 20px;
  right: -166px;
  background-color: #EFEFF0;
}
.m-progress-bar__line--success:before, .m-progress-bar__line--success:after {
  position: absolute;
  content: "";
  width: 166px;
  height: 5px;
  bottom: 20px;
  right: -166px;
  background-color: #0ABEC4;
}
.m-progress-bar__icon {
  line-height: 2.5em;
}
.m-progress-bar__text {
  position: absolute;
  top: 4em;
  text-align: center;
  width: 210px;
  font-weight: 600;
  font-size: 14px;
  left: -80px;
  line-height: 16px;
}
.m-progress-bar__text--present {
  color: #08367E;
}
.m-progress-bar__text--gris {
  color: #A0A4A8;
}
.m-progress-bar__text--success {
  color: #0ABEC4;
}

@media (max-width: 1100px) {
  .m-progress-bar {
    margin: 0 0 4.8em 0;
  }
  .m-progress-bar__step {
    margin: 0 34px;
    position: relative;
  }
  .m-progress-bar__line--gris:before, .m-progress-bar__line--gris:after, .m-progress-bar__line--success:before, .m-progress-bar__line--success:after {
    width: 80px;
    right: -80px;
  }
  .m-progress-bar__text {
    width: 70px;
    left: -12px;
  }
}
.m-modal {
  background: rgba(8, 54, 126, 0.4);
  justify-content: center;
  position: fixed;
  display: none;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}
.m-modal--open {
  display: flex;
}
.m-modal__container {
  background: #FFFFFF;
  align-content: center;
  display: flex;
  padding: 2em 3em;
  border-radius: 24px;
  width: 56%;
}
.m-modal__text {
  text-align: justify;
  padding: 1.5em 0;
  margin: 0 1em;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}
.m-modal__button-container {
  margin: 0 1em;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1100px) {
  .m-modal {
    padding: 0 1em;
  }
  .m-modal__container {
    display: block;
    width: 24em;
    text-align: center;
  }
  .m-modal__text {
    text-align: center;
    font-size: 14px;
    margin: 0;
  }
  .m-modal__button-container {
    justify-content: center;
    margin: 0;
  }
}
.m-table {
  width: 100%;
  border-collapse: collapse;
}
.m-table__thead {
  color: #2389CF;
  background: #F9F9FA;
}
.m-table__tbody {
  color: #52575C;
}
.m-table__tr {
  height: 50px;
}
.m-table__th, .m-table__td {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  padding-left: 1em;
  width: auto;
  border-bottom: 2px solid #F9F9FA;
}

@media (max-width: 1100px) {
  .m-table__th:nth-child(3), .m-table__td:nth-child(3), .m-table__th:nth-child(4), .m-table__td:nth-child(4), .m-table__th:nth-child(5), .m-table__td:nth-child(5), .m-table__th:nth-child(6), .m-table__td:nth-child(6) {
    display: none;
  }
  .m-table__th, .m-table__td {
    width: 50%;
  }
}
.m-welcome-card {
  background-image: url("../svg/welcome-card.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1.6em;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  width: 100%;
}
.m-welcome-card__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
}
.m-welcome-card__subtitle {
  color: #052A65;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 1100px) {
  .m-welcome-card {
    display: block;
  }
  .m-welcome-card__title {
    font-size: 18px;
  }
  .m-welcome-card__subtitle {
    font-size: 14px;
  }
  .m-welcome-card__button-container {
    display: flex;
    justify-content: center;
    padding-top: 0.2em;
  }
}
@media (max-width: 600px) {
  .m-welcome-card__button-container {
    padding: 1.2em 1.2em 0.4em 1.2em;
  }
}
.o-input-container {
  margin: 0 0 1.7em 0;
}

@media (max-width: 1100px) {
  .o-input-container {
    margin: 0 0 1.2em 0;
  }
}
.o-main {
  padding: 1.7em 100px;
}

@media (max-width: 1100px) {
  .o-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7em 1em;
  }
  .o-main__container {
    max-width: 60em;
  }
}
@media (max-width: 600px) {
  .o-main {
    padding: 0.7em;
    display: block;
  }
}
.o-white-container {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 2em 0;
}

@media (max-width: 1100px) {
  .o-white-container {
    padding: 1.2em 0 2em 0;
  }
}
.g-login {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "login-image login-form";
}
.g-login__form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1100px) {
  .g-login {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "login-form" "login-image";
    height: 100vh;
    padding: 0;
  }
  .g-login__form-container {
    align-items: initial;
  }
}
.g-header {
  background: #08367E;
  position: sticky;
  display: flex;
  width: 100%;
  padding: 0 100px;
  height: 5em;
}
.g-header__nav {
  background: #08367E;
  padding: 0;
  width: 100%;
}
.g-header__ul {
  background: #08367E;
  align-items: center;
  list-style: none;
  margin: 0;
  display: flex;
  width: 100%;
}
.g-header__li {
  margin: 0 auto;
}
.g-header__divider {
  display: none;
}

#check-menu-icon {
  display: none;
}

@media (max-width: 1100px) {
  .g-header {
    padding: 0 2em;
    z-index: 3;
  }
  .g-header__top-container-mobile {
    flex-direction: row;
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
    width: 100%;
  }
  .g-header__nav {
    width: 50%;
    height: 100vh;
    position: fixed;
    left: -100%;
    transition: all 0.5s;
  }
  .g-header__ul {
    display: block;
    height: 100vh;
    width: 100%;
    padding: 0;
  }
  .g-header__li {
    width: 100%;
    padding: 0.8em 2.4em;
    text-align: initial;
  }
  .g-header__divider {
    display: block;
    padding-bottom: 3.5em;
    border-bottom: 1px solid #3892D1;
  }
}
#check-menu-icon:checked ~ .g-header__nav {
  left: 0;
}

@media (max-width: 600px) {
  .g-header__nav {
    width: 100%;
  }
}
.u-background-in-mobile {
  background-color: #F9F9FA;
}

@media (max-width: 600px) {
  .u-background-in-mobile {
    background-color: #FFFFFF;
  }
}
.u-d-flex {
  display: flex;
}

.u-margin-left-1 {
  margin-left: 1.5em;
}

.u-padding-1 {
  padding: 1.5em;
}

.u-padding-2 {
  padding: 2em;
}

@media (max-width: 1100px) {
  .u-reverse-in-mobile {
    display: flex;
    flex-direction: column-reverse;
    align-items: initial;
  }
}

/*# sourceMappingURL=index.css.map */
