.a-alert {
  display: flex;
  align-items: center;
  padding: 0.4em 2em;
  max-width: 18em;
  margin: 0.5em auto;
  background: #FFE7E6;
  border-radius: 8px;
}
.a-alert__icon {
  margin-right: 0.5em;
}
.a-alert__text {
  font-style: normal;
  font-weight: 600;
  font-size: 0.8em;
  color: #F13319;
}

.a-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: none;
  font-size: 1em;
  margin: 0.6rem 0;
  border-radius: 8px;
  padding: 0.8em 2.5em;
  font-weight: 600;
}
.a-btn--secondary {
  background: #0878C7;
  color: #FFFFFF;
}
.a-btn--secondary:hover, .a-btn--secondary:focus {
  background: #0878C7;
  color: #FFFFFF;
}
.a-btn__icon {
  margin-left: 1.5em;
}

@media (max-width: 600px) {
  .a-btn {
    width: 100%;
  }
}
.a-close-menu {
  display: none;
}

@media (max-width: 1125px) {
  .a-close-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5em 0 1em 0;
    width: 100%;
  }
  .a-close-menu__text {
    font-size: 12px;
    padding-right: 2px;
    color: #FFFFFF;
    cursor: pointer;
  }
}
.a-input-password {
  background: #FFFFFF;
  box-shadow: none;
  outline: none;
  border-radius: 14px;
  padding: 1.5em 1em;
  width: 100%;
  height: 3em;
  border: 1.3px solid #52575C;
  display: flex;
  justify-items: center;
}
.a-input-password::placeholder {
  font-family: Montserrat;
  letter-spacing: normal;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  color: #A0A4A8;
}
.a-input-password:focus {
  border: 1.3px solid #2389CF;
}
.a-input-password__icon {
  margin-left: -40px;
  z-index: 2;
  cursor: pointer;
}
.a-input-password--error {
  background: #FFFFFF;
  box-shadow: none;
  outline: none;
  border-radius: 14px;
  padding: 1.5em 1em;
  width: 100%;
  height: 3em;
  border: 1.3px solid #F13319;
}
.a-input-password--error::placeholder {
  font-family: Montserrat;
  letter-spacing: normal;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  color: #A0A4A8;
}
.a-input-password--error:focus {
  border: 1.3px solid #F13319;
}

.a-input-search {
  min-width: 18em;
  border-radius: 8px;
  background: #0C4399;
  box-shadow: none;
  outline: none;
  padding: 1.5em 1em;
  height: 3.5em;
  border: none;
  color: #FFFFFF;
}
.a-input-search__icon {
  margin-left: -40px;
  z-index: 2;
  cursor: pointer;
}
.a-input-search::placeholder {
  color: #FFFFFF;
}

@media (max-width: 600px) {
  .a-input-search {
    width: 100%;
  }
}
.a-input-text {
  background: #FFFFFF;
  box-shadow: none;
  outline: none;
  border-radius: 14px;
  padding: 1.5em 1em;
  width: 100%;
  height: 3em;
  border: 1.3px solid #52575C;
}
.a-input-text::placeholder {
  font-family: Montserrat;
  letter-spacing: normal;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  color: #A0A4A8;
}
.a-input-text:focus {
  border: 1.3px solid #2389CF;
}
.a-input-text--error {
  background: #FFFFFF;
  box-shadow: none;
  outline: none;
  border-radius: 14px;
  padding: 1.5em 1em;
  width: 100%;
  height: 3em;
  border: 1.3px solid #F13319;
}
.a-input-text--error::placeholder {
  font-family: Montserrat;
  letter-spacing: normal;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  color: #A0A4A8;
}
.a-input-text--error:focus {
  border: 1.3px solid #F13319;
}

.a-link {
  background: #08367E;
  color: #FFFFFF;
  border-bottom: 2px solid #08367E;
  font-style: normal;
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;
  margin: 0 3em;
}
.a-link:hover {
  border-bottom: 2px solid #0ABEC4;
  transition: 0.3s;
}

@media (max-width: 1125px) {
  .a-link {
    border-bottom: 0;
    margin: 0;
    color: #FFFFFF;
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
  }
  .a-link:hover {
    border-bottom: 0;
  }
}
.a-login-image {
  grid-area: login-image;
  background-image: url("../png/login-image.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1125px) {
  .a-login-image {
    display: none;
  }
}
@media (max-width: 600px) {
  .a-login-image {
    display: flex;
    margin-top: -100%;
    background-image: linear-gradient(to bottom, white 30%, transparent 70%), url("../png/login-image.png");
  }
}
.a-logo--small {
  display: none;
}

.a-logo--large {
  padding: 1.2em 0;
  width: auto;
  height: 90%;
}

@media (max-width: 1125px) {
  .a-logo--small {
    padding: 1em 0 0.5em 0;
    width: 20%;
    height: 20%;
    display: block;
  }
}
.a-menu-icon {
  display: none;
}

@media (max-width: 1125px) {
  .a-menu-icon {
    height: 24px;
    display: block;
    padding: auto;
    cursor: pointer;
  }
}
.a-span-error {
  font-style: normal;
  font-weight: 600;
  font-size: 0.9em;
  line-height: 14px;
  color: #2389CF;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 1.8;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* stylelint-disable */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.m-login-form {
  grid-area: login-form;
  max-width: 26em;
  margin-top: 6em;
}
.m-login-form__title {
  font-size: 2.2em;
  color: #08367E;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0.2em 0;
}
.m-login-form__description {
  font-size: 1.1em;
  color: #1B1B22;
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  line-height: 19px;
  margin: 0.5em 0;
}
.m-login-form__label {
  font-size: 1em;
  color: #52575C;
  font-style: normal;
  font-weight: 600;
}
.m-login-form__button-container {
  display: flex;
  justify-content: flex-end;
}
.m-login-form__password {
  display: flex;
}

@media (max-width: 1125px) {
  .m-login-form {
    margin: 0;
    padding: 0 1em;
  }
  .m-login-form__title {
    font-size: 1.5em;
    margin: 0;
  }
  .m-login-form__description {
    font-size: 1em;
  }
  .m-login-form--reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}
.o-input-container {
  margin: 1.2em 0;
}

.g-login {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "login-image login-form";
}
.g-login__form-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 1125px) {
  .g-login {
    display: grid;
    height: 100vh;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-areas: "login-form" "login-image";
  }
}
.g-header {
  background: #08367E;
  position: sticky;
  display: flex;
  width: 100%;
  padding: 0 100px;
  height: 6em;
}
.g-header__nav {
  background: #08367E;
  display: flex;
  align-items: center;
  padding: 0;
}
.g-header__search {
  display: flex;
}
.g-header__ul {
  background: #08367E;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
}
.g-header__li {
  display: inline-block;
}

@media (max-width: 1125px) {
  .g-header {
    height: 5.2em;
    padding: 0 2em;
  }
  .g-header__top-container {
    flex-direction: row;
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
    width: 100%;
  }
  .g-header__search-container {
    padding: 1.5em;
    margin: 0;
    display: block;
  }
  .g-header__search {
    padding-bottom: 3.5em;
    border-bottom: 1px solid #3892D1;
  }
  .g-header__nav {
    width: 50%;
    height: 100vh;
    position: fixed;
    left: 0;
  }
  .g-header--reverse {
    flex-direction: column-reverse;
    align-items: initial;
  }
  .g-header__ul {
    display: block;
    height: 100vh;
    width: 100%;
    padding: 0;
  }
  .g-header__li {
    width: 100%;
    padding: 0.8em 2.4em;
  }
}
@media (max-width: 600px) {
  .g-header__nav {
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
