@use "../settings/variables";
@mixin input-base($backgroundColor: #FFFFFF, $border-color: #52575C, $focus-border-color: #2389CF) {
    background: $backgroundColor;
    box-shadow: none;
    outline: none;
    border-radius: 14px;
    padding: 1em 1em;
    width: 100%;
    font-weight: 500;
    font-style: normal;
    border: 1.3px solid $border-color;
    display: flex;
    justify-items: center;
    &::placeholder {
        font-family: Montserrat;
        letter-spacing: normal;
        font-style: normal;
        font-weight: 500;
        font-size: 1em;
        color: variables.$gris-color-3;
    }
    &:focus {
        border: 1.3px solid $focus-border-color;
    }
}