@use "../settings/variables";
@mixin input-base($border-color: #52575C, $focus-border-color: #2389CF) {
    background: variables.$white-color;
    box-shadow: none;
    outline: none;
    border-radius: 14px;
    padding: 1.5em 1em;
    width: 100%;
    height: 3em;
    border: 1.3px solid $border-color;
    &::placeholder {
        font-family: Montserrat;
        letter-spacing: normal;
        font-style: normal;
        font-weight: 600;
        font-size: 1em;
        color: variables.$gris-color-3;
    }
    &:focus {
        border: 1.3px solid $focus-border-color;
    }
}