@use "../settings/variables";
.m-login-form {
    grid-area: login-form;
    max-width: 24rem;
    padding: 0 1rem;
    &__title {
        font-size: variables.$fs-text-m;
        color: variables.$primary-color;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin: 1.5em;
    }
    &__description {
        font-size: variables.$fs-text-s;
        color: variables.$gris-color;
        font-style: normal;
        font-weight: normal;
        text-align: justify;
        line-height: 19px;
        margin: 0.5em 0;
    }
    &__label {
        font-size: variables.$fs-text-s;
        color: variables.$label-color;
        font-style: normal;
        font-weight: 600;
    }
}

@media (max-width: 600px) {
    .m-login-form {
        &__title {
            margin: 0.5em;
        }
    }
}