@use "../settings/variables";
.m-login-form {
    grid-area: login-form;
    max-width: 26em;
    margin-top: 6em;
    &__title {
        font-size: 2.2em;
        color: variables.$primary-color;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin: 0.2em 0;
    }
    &__description {
        font-size: 1.1em;
        color: variables.$gris-color;
        font-style: normal;
        font-weight: normal;
        text-align: justify;
        line-height: 19px;
        margin: 0.5em 0;
    }
    &__label {
        font-size: 1em;
        color: variables.$gris-color-2;
        font-style: normal;
        font-weight: 600;
    }
    &__button-container {
        display: flex;
        justify-content: flex-end;
    }
    &__password {
        display: flex;
    }
}

@media (max-width: variables.$max-width-large) {
    .m-login-form {
        margin: 0;
        padding: 0 1em;
        &__title {
            font-size: 1.5em;
            margin: 0;
        }
        &__description {
            font-size: 1em;
        }
        &--reverse {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}