@use "../settings/variables";
@use "../tools/mixins";
.a-btn {
    @include mixins.btn-base;
    &--default {
        height: 48px;
        padding: 0.8em 3em;
    }
    &--sm {
        height: 36px;
        padding: 0.8em 3em;
        width: 24px;
    }
    &--expand {
        height: 48px;
        padding: 0.8em 3em;
    }
    &--primary {
        background: variables.$primary-color;
        color: variables.$white-color;
        &:hover,
        &:focus {
            background: variables.$primary-color;
            color: variables.$white-color;
        }
    }
    &--primary-3 {
        border: 1px solid variables.$primary-color-3;
        background: variables.$primary-color-3;
        color: variables.$white-color;
        &:hover,
        &:focus {
            background: variables.$primary-color-3;
            color: variables.$white-color;
        }
    }
    &--secondary {
        background: variables.$secondary-color;
        color: variables.$white-color;
        &:hover,
        &:focus {
            background: variables.$secondary-color;
            color: variables.$white-color;
        }
    }
    &--secondary-2 {
        background: variables.$secondary-color-2;
        color: variables.$white-color;
        &:hover,
        &:focus {
            background: variables.$secondary-color-2;
            color: variables.$white-color;
        }
    }
    &--outline {
        border: 1px solid variables.$secondary-color;
        background: variables.$white-color;
        color: variables.$secondary-color;
        &:hover,
        &:focus {
            background: variables.$white-color;
            color: variables.$secondary-color;
        }
    }
    &--muted {
        border: 1px solid variables.$secondary-color-4;
        background: variables.$white-color;
        color: variables.$secondary-color-4;
        &:hover,
        &:focus {
            background: variables.$white-color;
            color: variables.$secondary-color-4;
        }
    }
    &__icon--default {
        margin-left: 1.5em;
    }
    &__icon {
        margin-left: 1.5em;
    }
}

@media (max-width: variables.$max-width-large) {
    .a-btn {
        &--reduce-in-mobile {
            width: 5em;
        }
        &__icon {
            margin-left: 0;
        }
    }
}

@media (max-width: variables.$max-width-small) {
    .a-btn {
        width: 100%;
        &--default {
            height: 44px;
            padding: 0.8em 0;
        }
        &--reduce-in-mobile {
            width: 3.2em;
        }
    }
}