@use "../settings/variables";
.a-btn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
    font-size: 1em;
    margin: 0.6rem 0;
    border-radius: 8px;
    padding: 0.8em 2.5em;
    font-weight: 600;
    &--secondary {
        background: variables.$secondary-color-2;
        color: variables.$white-color;
        &:hover,
        &:focus {
            background: variables.$secondary-color-2;
            color: variables.$white-color;
        }
    }
    &__icon {
        margin-left: 1.5em;
    }
}

@media (max-width: variables.$max-width-small) {
    .a-btn {
        width: 100%;
    }
}