@use "../settings/variables";
@use "../tools/mixins";
.a-input-password {
    @include mixins.input-base;
    display: flex;
    justify-items: center;
    // font-family: caption;
    // letter-spacing: 0.2em;
    &__icon {
        margin-left: -40px;
        z-index: 2;
        cursor: pointer;
    }
    &--error {
        @include mixins.input-base(variables.$complementary4, variables.$complementary4);
    }
}