@use "../tools/mixins";
.a-input-password {
    @include mixins.input-layout;
    font-family: caption;
    letter-spacing: 0.2em;
    &::placeholder {
        font-family: Montserrat;
        letter-spacing: normal;
    }
    &__icon {
        margin-left: -40px;
        z-index: 2;
        cursor: pointer;
    }
}