@use "../settings/variables";
.a-link {
    background: variables.$primary-color;
    color: variables.$white-color;
    border-bottom: 2px solid variables.$primary-color;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    margin: 0 1.8em;
    &:hover {
        border-bottom: 2px solid variables.$complementary1;
        transition: 0.3s;
    }
}

@media (max-width: variables.$max-width-large) {
    .a-link {
        color: variables.$white-color;
        text-decoration: none;
        border-bottom: 0;
        font-weight: 600;
        font-size: 1.1em;
        margin: 0;
        &:hover {
            border-bottom: 0;
        }
        &:after {
            content: "";
            background: url("../svg/arrow-right.svg") no-repeat;
            display: inline;
            position: relative;
            float: right;
            line-height: 1.5em;
            height: 1.5em;
            top: 0.3em;
            width: 1em;
        }
    }
}