@use "../settings/variables";
.a-login-image {
    grid-area: login-image;
    background-image: url("../png/login-image.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: variables.$max-width-large) {
    .a-login-image {
        display: none;
    }
}

@media (max-width: variables.$max-width-small) {
    .a-login-image {
        display: flex;
        margin-top: -100%;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255) 30%, transparent 70%), url("../png/login-image.png")
    }
}