@use "../settings/variables";
.a-logo-principal {
    display: none;
}

.a-logo-white {
    padding: 1em 0;
    height: 100%;
}

@media (max-width: variables.$max-width-large) {
    .a-logo-principal {
        display: block;
        padding: 1em 0 0.5em 0;
        height: 20%;
        width: 20%;
    }
    .a-logo-white {
        padding: 1.5em 0;
        height: 100%;
    }
}