@use "../settings/variables";
.a-menu-icon {
    display: none;
}

@media (max-width: variables.$max-width-large) {
    .a-menu-icon {
        cursor: pointer;
        display: block;
        padding: auto;
        height: 24px;
    }
}