@use "../settings/variables";
.g-header {
    background: variables.$primary-color;
    position: sticky;
    display: flex;
    width: 100%;
    padding: 0 100px;
    height: 5em;
    &__nav {
        background: variables.$primary-color;
        display: flex;
        align-items: center;
        padding: 0;
    }
    &__ul {
        background: variables.$primary-color;
        flex-direction: row;
        align-items: center;
        list-style: none;
        margin: 0;
    }
    &__li {
        display: inline-block;
    }
    &__divider {
        display: none;
    }
}

@media (max-width: variables.$max-width-large) {
    .g-header {
        padding: 0 2em;
        &__top-container-mobile {
            flex-direction: row;
            justify-content: space-between;
            display: inline-flex;
            align-items: center;
            width: 100%;
        }
        &__nav {
            width: 50%;
            height: 100vh;
            position: fixed;
            left: -100%;
            // left: 0;
        }
        &__ul {
            display: block;
            height: 100vh;
            width: 100%;
            padding: 0;
        }
        &__li {
            width: 100%;
            padding: 0.8em 2.4em;
        }
        &__divider {
            display: block;
            padding-bottom: 3.5em;
            border-bottom: 1px solid variables.$divider-color;
        }
    }
}

@media (max-width: variables.$max-width-small) {
    .g-header {
        &__nav {
            width: 100%;
        }
    }
}